

/* Fonts */

@font-face {
   font-family: "Chomsky", serif;
   src: url('/New-York-times-project/font/Chomsky.otf')
   format('truetype');
}
@font-face {
   font-family: "Imperial", sans-serif;
   src: url('/New-York-times-project/font/Imperial.ttf')
   format('truetype');
}
@font-face {
   font-family: "Helvetica", sans-serif;
   src: url('/New-York-times-project/font/Helvetica.ttf')
   format('truetype');
}
@font-face {
   font-family: "Cheltenham", sans-serif;
   src: url('/New-York-times-project/font/Cheltenham.ttf')
   format('truetype');
}
@font-face {
   font-family: 'CheltenhamStdBold';
   src: url('/New-York-times-project/font/CheltenhamStdBold.otf') format('truetype');
 }